#  Credit Card Data from book "Econometric Analysis"

Este talle tendra los siguientes objetivos:

1. Identificar las columnas que tienen valores nulos y especificar la cantidad en cada una de las columnas.
2.  Convertir la columna `fecha` en un tipo de objeto específico para fechas.
3. Obtener los años, meses y días que corresponden al valor decimal de la columna `age` (años).
    Ejemplo: https://www.youtube.com/watch?v=E6qIiUWPyuQ
4. Todas las columnas con valores de `yes` y `no` convertirlos en valores booleanos `True` y `False` respectivamente.
5. Verificar gráficamente la existencia de outliers (boxplot).
6. Crear una columna nueva `> one year` que sea `True` si la el valor de la columna `months` superior a `12` y `False` si es lo contrario.
7. Verificar que la columna `id` sea de tipo `str` u `object`.

## Importar librerías

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

In [2]:
data = pd.read_csv('credit_card_data.csv')

In [3]:
data.head()

,id,card,reports,age,income,share,expenditure,owner,selfemp,dependents,months,majorcards,active,fecha
0,0,yes,0,37.66667,NaN,0.033270,124.983300,yes,no,3.0,54,1,12,16/11-2010
1,1,yes,0,33.25000,2.4200,0.005217,9.854167,no,no,3.0,34,1,13,19/1-2010
2,2,yes,0,33.66667,4.5000,0.004156,15.000000,yes,no,NaN,58,1,5,24/6-2012
3,3,yes,0,30.50000,2.5400,0.065214,137.869200,no,no,0.0,25,1,7,12/11-2011
4,4,yes,0,32.16667,9.7867,0.067051,546.503300,yes,no,2.0,64,1,5,8/11-2010